page-user-card {
    .card-ios {
        box-shadow: none;
    }

    .cards {
        ion-note {
            font-size: 14px;
            color: #333;
        }

        .vip-plan {
            font-size: 14px;
            color: #333;
        }
    }
}
